.collapse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.toggle-button-header_title {
    text-transform: capitalize;
    font-weight: 700;
    color: #e96d00;
}

.toggle-button-header {
    width: 100%;
}

.toggle-button:hover,
.toggle-button_activer:hover {
    background: #d8d8d8d9;
}

.toggle-button,
.toggle-button_active {
    width: 70%;
    background-color: transparent;
    /* border: 1px solid #6e6c6b8f; */
    border-bottom: 1px solid #e96d00;
    /* color: #000; */
    padding: 10px;
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: row;
    /* border-radius: 15px; */
    border-top: none;
    border-left: none;
    border-right: none;
}

.toggle-button_active {
    background: #efceb77d;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.toggle-button .toggle-button-icon,
.toggle-button_active .toggle-button-icon {
    margin: 5px;
    font-size: 20px;
    visibility: hidden;
}

.toggle-button-icon_active {
    margin: 5px;
    font-size: 20px;
    transform: rotate(45deg);
    color: #e96d00;
    border: 1px solid;
    border-radius: 50%;
}

.toggle-button_active .toggle-button-header h4 {
    color: #e96d00;
    font-weight: 600;
}

.collapse-menu-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    line-height: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
    letter-spacing: .5px;
    border-top: 5px solid;
    border-radius: 12px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background: 0 0;
    color: #e96d00;
}

.content-detail {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #e96d00;
}

.content-detail img {
    width: 200px;
    height: 140px;
    border-radius: 15px;
}

.content-detail h5,
h6 {
    color: #000;
    text-transform: capitalize;
}

.content-detail h5 {
    font-weight: 600;
}

.content-detail .name-price-food {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-collapse {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.close-collapse button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    line-height: 30px;
    padding: 0 20px;
    margin: 15px 0 0 0;
    letter-spacing: .5px;
    border-bottom: 5px solid;
    border-radius: 12px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background: 0 0;
    color: #e96d00;
    border: 1px solid transparent;
    font-weight: 500;
}

@media only screen and (max-width: 992px) {
    .content-detail img {
        width: 150px;
        height: 115px;
    }

    .content-detail h5 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .content-detail img {
        width: 115px;
        height: 80px;
    }

    .content-detail h5 {
        font-size: 13px;
    }

    .content-detail h6 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .carousel.carousel-slider .control-arrow {
        visibility: hidden;
    }

    .toggle-button,
    .toggle-button_active {
        width: 88%;
    }

    .collapse-menu-content {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

@media only screen and (max-width: 576px) {
    .collapse-menu-content_row {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .collapse-menu-content_item {
        width: 100% !important;
    }

    .content-detail h5 {
        font-size: 13px;
    }

    .content-detail h6 {
        font-size: 10px;
    }

    .toggle-button,
    .toggle-button_active {
        padding: 0;
        border-radius: 7px;
    }

    .toggle-button-header {
        display: flex;
        justify-content: center;
    }

    .carousel.carousel-slider .control-arrow {
        visibility: hidden;
    }
}