.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: linear-gradient(90deg, rgb(37 36 54) 0%, rgb(24 24 128) 40%, rgb(87 12 137) 100%);
}

.footer__logo img {
  width: calc(100% - 60%);
  margin-bottom: 5px;
}

.footer__logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
  color: #ffa800;
}

.footer__logo p {
  font-size: 0.9rem;
  color: #ffa800;
  line-height: 28px;
  font-weight: 500;
}

.delivery__time-item {
  background: transparent !important;
}

.delivery__time-item span {
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

.delivery__time-item p {
  color: #fff;
}

.footer__title {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
}

.footer__hasgtag {
  color: #338fff;
}

.hello__footer {
  text-align: center;
}

.map-container .map-place {
  width: 100%;
  height: 350px;
}

.map-container h5{
  color: white;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .newsletter input {
    padding: 7px;
    font-size: 0.7rem;
  }

  .newsletter span {
    padding: 4px 20px;
    font-size: 0.7rem;
  }

  .map-container .map-place {
    width: 100%;
    height: 350px;
  }
}

@media only screen and (max-width: 768px) {
  .footer__title {
    font-size: 0.8rem;
  }

  .delivery__time-item span {
    font-size: 0.8rem;
  }

  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }

  .map-container .map-place {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width: 576px) {
  .copyright__text {
    text-align: center;
  }

  .social__links p {
    font-size: 0.8rem;
  }

  .social__links span {
    padding: 4px;
  }

  .social__links span a {
    font-size: 0.7rem;
  }

  .map-container .map-place {
    width: 100%;
    height: 250px;
  }
}