.form-header {
    display: flex;
    flex-direction: column;
}

.container-form-inp h5 {
    color: #fff;
    font-weight: 700;
}

.container-form-inp .hr {
    color: #fff;
    width: 25%;
}

.form-inp {
    padding: 0 0 20px 0;
}

.form-inp-item,
.date-time-place {
    width: 100%;
}

.form-inp-label {
    color: #fff;
    padding: 0 0 0 10px;
}

.date-time-place{
    display: flex;
    flex-direction: row;
}

.date-time-place .form-inp-item{
    padding: 0 10px;
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (max-width: 576px) {
    .form-header {
        text-align: center;
        align-items: center;
    }
    .date-time-place{
        width: 100%;
        display: flex;
        flex-direction: column
    }
    .date-time-place .form-inp-item{
        padding: 0;
    }
}

@media screen and (max-width: 350px) {
    .form-header {
        text-align: center;
        align-items: center;
    }

    .form-inp .inp {
        width: 100% !important;
    }
}