.form-header {
    display: flex;
    flex-direction: column;
}

.container-form-inp h5 {
    color: #000;
    font-weight: 700;
}

.container-form-inp .hr {
    color: #000;
    width: 25%;
}

.form-inp {
    padding: 0 0 20px 0;
}

.form-inp .inp {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #000;
}

.form-inp-item,
.date-time-place {
    width: 100%;
}

.form-inp-label {
    color: #000;
    padding: 0 0 0 10px;
}

.date-time-place {
    display: flex;
    flex-direction: row;
}

.date-time-place .form-inp-item {
    display: flex;
    justify-content: space-between;
}

.date-time-place .form-inp-item label {
    margin: 20px 5px 0 0;
}

.react-datepicker .react-datepicker__triangle {
    left: -80% !important;
}

.react-datepicker-popper[data-placement^=top] {
    position: absolute !important;
    inset: 0px auto auto 0px !important;
    /* transform: translate3d(91.6667px, 3999.17px, 0px) !important; */
    transform: translate3d(165.6667px, 4226.17px, 0px) !important;
}

.react-datepicker-popper[data-placement^=bottom] {
    padding-top: 0 !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    top: 0;
    margin-top: -8px;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle {
    bottom: unset !important;
    margin-bottom: -8px;
    top: 0px;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before {
    bottom: 1px !important;
    border-top-color: #aeaeae;
    transform: rotate(180deg);
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
    top: 0px !important;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after {
    bottom: 1px;
    transform: rotate(180deg);
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
    top: unset !important;
    bottom: -8px !important;
    border-bottom-color: #fff !important;
}

@media(max-width: 992px) {
    .react-datepicker-popper[data-placement^=top]{
        transform: translate3d(85.6667px, 3993.17px, 0px) !important;
    }
}

@media only screen and (max-width: 768px) {
    .react-datepicker__header {
        background-color: #fff !important;
    }

    .react-datepicker__month-container {
        width: 30%;
    }

    .react-datepicker-popper[data-placement^=top] {
        transform: translate3d(60.6667px, 3916.17px, 0px) !important;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (max-width: 576px) {
    .form-header {
        text-align: center;
        align-items: center;
    }

    .date-time-place {
        width: 100%;
        display: flex;
        flex-direction: column
    }

    .date-time-place .form-inp-item {
        padding: 0;
    }

    .date-time-place .form-inp-item {
        display: flex;
        flex-direction: column;
    }

    .date-time-place .form-inp-item label {
        margin: 0;
    }
    .react-datepicker-popper[data-placement^=top] {
        transform: translate3d(35.6667px, 3776.17px, 0px) !important;
    }
}

@media(max-width: 350px) {
    .form-header {
        text-align: center;
        align-items: center;
    }

    .form-inp .inp {
        width: 100%;
    }
    .react-datepicker-popper[data-placement^=top] {
        transform: translate3d(0.6667px, 3900.17px, 0px) !important;
    }
}