/* .hero__content {
    padding-top: 70px;
  } */

.hero__title {
  font-size: 2.5rem;
  line-height: 55px;
}

.hero__title span {
  color: #df2020;
}

.hero__content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}

.hero__btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.hero__content-info {
  color: #000;
  list-style-type: none;
}

.hero__content-info li {
  padding: 10px 0;
}

.hero__content-info .hero__content-info-lobby {
  font-size: 25px;
}

.hero__content h5 {
  color: #000;
  border-bottom: 1px solid #000;
  padding: 10px;
  font-family: 'Lobster', cursive;
}

.hero__content .hero__content-lobby-title {
  font-size: 45px;
  text-align: center;
}

.order__btn {
  background: #df2020;
  color: #fff;
  transition: 0.3s;
}

.order__btn:hover {
  background: #212245;
}

.all__foods-btn {
  background: transparent;
  border: 1px solid #e7b451 !important;
}

.all__foods-btn a {
  color: #e7b451;
}

.all__foods-btn a:hover {
  color: #fff;
}

.hero__service p {
  color: #212245;
  font-weight: 600;
  font-size: 0.9rem;
}

.shipping__icon i {
  padding: 5px;
  background: #df2020;
  color: #fff;
  border-radius: 50%;
  font-weight: 500 !important;
}

.hero__img div {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px;
}

.hero__img .img_bg {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  filter: blur(3px);
}

.hero__img .img_front {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 85%;
  border: 2px solid white;
}

@media only screen and (max-width: 768px) {
  .hero__img .img_front {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 80%;
    border: 2px solid white;
  }

  .hero__content .hero__content-lobby-title {
    font-size: 30px;
    text-align: center;
  }

  .hero__content-info .hero__content-info-lobby {
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .hero__img .img_front {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 85%;
    border: 2px solid white;
  }
}