.hero_info {
  padding: 0;
}

.hero {
  display: flex;
  flex-direction: row;
}

.feature__subtitle {
  color: #e96d00;
}

.feature__title span {
  color: #df2020;
}

.feature__text {
  color: #000;
}

.menu__title {
  color: #000;
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;
}

.menu_section {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.section_form {
  position: relative;
  overflow: hidden;
}

.section_form .form {
  z-index: 2;
  position: relative;
}

.section_form img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  object-fit: fill;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero__content h5 {
    font-size: 1rem;
  }

  .hero__content p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .hero__title {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .hero__btns button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
  .section_form img{
    object-fit: cover;
  }
}

@media only screen and (max-width: 576px) {
  .hero_info {
    padding: 0;
  }

  .hero__img div {
    padding: 0;
  }

  .hero__content {
    text-align: center;
  }

  .hero__content-info {
    padding: 0 !important;
  }

  .hero__btns {
    justify-content: center;
  }

  .hero_info {
    padding: 0px 0 0 0;
  }
}