.scrollup {
    position: fixed;
    right: 2.5rem;
    bottom: -45%;
    /* background-color: white; */
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: 10;
    transition: .4s;
}

.scrollup__icon {
    font-size: 1.5rem;
    color: white;
}

/* .scrollup:hover {
    background-color: #000;
} */

/* show scroll */
.show-scroll {
    bottom: 3rem;
}

.scrollup-icon {
    color: #9b9da0;
}

.scrollup-icon:hover {
    color: greenyellow;
}

.multi-btn {
    display: flex;
    padding: 10px;
    flex-direction: column;
    z-index: 1001;
}

/* .multi-btn div {
    background: #9a9a9a;
    padding: 10px;
    margin: 0 0 15px 0;
    border-radius: 13px;
    text-align: center;
}

.multi-btn div:hover {
    background: #fff;
} */

.icon-btn {
    font-size: 25px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 / 83%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-close-btn {
    display: flex;
    justify-content: space-between;
}

.modal-close-btn h4 {
    color: #8b8b8b;
}

.modal-close-btn .close-icon {
    font-size: 26px;
    cursor: pointer;
    color: #858585;
}

.modal-close-btn .close-icon:hover {
    color: rgb(231, 24, 24);
}

.modal-content {
    width: 80% !important;
    min-height: 200px;
    /* background-color: white; */
    background-color: rgb(255 255 255 / 55%);
    padding: 25px;
}

.chatbox {
    top: 40px;
    width: 30% !important;
    background-color: #dcdcdc !important;
}

.chatbox-container {
    display: flex;
    justify-content: center;
}

.rsc {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 30px;
}

.form-inp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-inp .btn-submit {
    width: 20%;
    border: none;
    background-color: #e96d00;
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    color: #fff;
}

/* .form-inp .inp {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #000;
} */

/* floating button */
.fab-container {
    right: 3vw !important;
    bottom: 3vh !important;
}

/* .fab-container .btn-icon{
    background-color: #000 !important;
} */

.tooltip-btn {
    background-color: rgb(244, 67, 54);
    color: rgb(250, 250, 250);
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    margin: 20px auto 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 50%;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    height: 35px;
    background-color: #fba81d;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transition: .25s all ease;
    transition-delay: .25s;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 200%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 100%;
    margin-left: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #fba81d transparent transparent transparent;
    transform: rotate(-90deg);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .scrollup {
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
    }

    .scrollup__icon {
        font-size: 1.25rem;
    }

    .modal-content {
        width: 80% !important;
        min-height: 200px;
        padding: 20px;
    }

    .chatbox {
        top: 40px;
        width: 50% !important;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .show-scroll {
        bottom: 1rem;
    }

    .modal-content {
        width: 80% !important;
        min-height: 200px;
        background-color: white;
        padding: 20px;
    }

    .chatbox {
        top: 40px;
        width: 55% !important;
    }
}

@media only screen and (max-width: 576px) {
    .chatbox {
        top: 10px;
        width: 80% !important;
        padding: 10px;
        margin: 30px 0 0 0;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .scrollup {
        right: 1rem;
    }

    .modal-content {
        width: 80% !important;
        min-height: 200px;
        background-color: white;
        padding: 20px;
    }

    /* .form-inp .inp {
        width: auto;
    } */

    .form-inp .btn-submit {
        width: 100%;
    }

    .chatbox {
        top: 10px;
        width: 90% !important;
    }

    .rsc-content {
        height: 170px !important;
    }
}