.carousel_img {
  height: 70vh;
  object-fit: cover;
}

.carousel .slide .sub_carousel_img {
  width: 90%;
  height: 350px;
  object-fit: fill;
  /* border-radius: 30px; */
  border: 20px solid white;
}

.carousel.carousel-slider .control-arrow {
  background: black !important;
  height: 120px;
  top: 150px !important;
  border-radius: 15px;
}

.carousel .control-prev.control-arrow {
  left: 30px !important;
}

.carousel .control-next.control-arrow {
  right: 30px !important;
}

.carousel-slider {
  height: 500px;
}

@media only screen and (max-width: 992px) {
  .carousel .slide img {
    height: 55vh;
    object-fit: fill;
  }

  .carousel .slide .sub_carousel_img {
    width: 95%;
    height: 200px;
    object-fit: cover;
  }

  .carousel-slider {
    height: 300px;
  }

  .carousel.carousel-slider .control-arrow {
    visibility: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .carousel .slide img {
    height: 35vh;
    object-fit: fill;
  }

  .carousel .slide .sub_carousel_img {
    width: 95%;
    height: 200px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {
  .carousel.carousel-slider {
    height: 260px;
  }
}